<div class = 'main'>
	<div class='content'> 
		<div *ngIf="(currentTask.id>0)" class = 'backButton'>
			<button (click)="parentTask()">
			Parent Task
			</button>
		</div>
		<div class='tasks'>
			<div *ngFor="let task of tasks" class='task'>
				<div class ='taskContent'>

					<div class = 'taskText'>
						<div class="taskName">
						{{task.name}}
						</div>
						<div class = 'taskContentContent'>

							<div class = "taskDescription">
							{{task.description}}
							</div>
							<div *ngIf="task.isDone" class = 'isTaskDone'>
							done
							</div>
						</div>	
					</div>
					<div class = 'taskButton'>
						
						<button>
						:)
						</button>
						<button>
						:(
						</button>
						<button (click)="subtask(task.id)">
						>	
						</button>
					</div>
				</div>
			</div>
		</div>

		<button routerLink="/todo/new/{{id}}" > 
			New task
		</button>

	</div>
</div>