.main
{ 
	display: flex;
	/*background-color: #EEAAAA;*/
	align-items: center;
	flex-direction: column;
}

.header
{
	height: 50px;
	width: 100%;
	margin-bottom: 3px;
	max-width: 1000px;
	display: flex;
	background-color: #F5F5F5;
	box-shadow: 10px 10px 15px #2572a3;
	justify-content: center;
}


.headerButton
{
	border: none;
	background-color: #5588FF;
	margin-left: 2px;
	font-size: 1.3em;
}
.headerButton:hover
{
	background-color: #88AAFF;
}


.content
{
	/*background-color: #FF0000;*/
	width: 100%;
	max-width: 1000px;
	display: flex;
	align-items: center;
	flex-direction: column; 
	background-color: #F5F5F5;
	border-radius: 10px;
	box-shadow: 10px 10px 15px #2572a3;
}
 
  
.top
{
	display: flex;
	flex-direction: column;
	align-items: center;
}


.currentTask
{
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.currentTaskName
{
	font-size: 2em;
}

.currentTaskDescription
{
	font-size: 1.3em;
}

.topBotButton
{
	margin: 0.5em;
}

.tasks
{ 
	width: 100%; 
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	/*background-color: blue;*/
	
}

.done
{
	background-color: green;
}


.task
{
	width: 96%; 
	padding-top: 15px;
	/* width: 100%; */
}

.task:hover
{
	background-color: #dddddd;
}

.taskDone
{
	background-color: #43e851;
}
.taskDone:hover
{
	background-color: #21d130;
} 


.task::after
{
	content: "";
	display: block;
	height: 1px;
	width: 96%;
	background-color: #DDDDDD;
	margin: auto;
	margin-top: 15px;
}


.taskContent
{
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
}

.taskText
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.taskButton
{
	align-self: right; 
}

.setDone
{
	font-size: 2em;
	background-color: #58dd37;
}
.setDone:hover
{
	font-size: 2em;
	background-color: #38bd17;
}

.setUndone
{
	background-color: #ff5047;
	font-size: 1.7em;
}
.setUndone:hover
{
	background-color: #cc3026;
	font-size: 1.7em;
}

.taskContentContent
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.taskButton > button
{  
	border:  none; 
	height: 50px;
	width: 70px;
	margin-right: 1em;
	border-radius: 3px;
}
 


.taskName
{
	font-size: 2em;
	font-weight: 500;
}

.taskDescription
{
	font-size: 1.3em;
	flex-grow: 1;
}

.isTaskDone
{ 
	padding-left: 15px;
	padding-right: 15px;
}
